html {
    --dark-bg-0-5: #0a0a0f;
    --dark-bg:  #141424;
    --dark-bg-2: #1d1d49;
    --dark-bg-3: #3c3c6c;
    --dark-bg-4: #505090;
  
    --dark-fg:  #dddddd;
    --dark-acc: #7482db;
    --dark-acc-2: #0082db;
    --dark-acc-3: #0092fb;
}

body {
    padding: none;
}

.nav_bar {
    background-color: var(--dark-bg-0-5);
}