<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn.glitch.global/6889b0fc-857c-4287-b9d1-8dea274a278e/gihun.ico?v=1739891595012"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Portfolio Website</title>
    <script src="../index.js"></script>
    <link rel="stylesheet" href="projects.css">
  </head>
  <body>
  </body>
</html>